@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stack+Sans+Headline:wght@200..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* Estilos globais */

body {
    background-color: #315f5d; /* cor de fundo*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* ocupa a tela inteira */
}

h2{
    position: fixed;
    margin-top: 120px; /*AFASTA O TEXTO DOS BOTÕES*/
    font-family: "Titillium Web", sans-serif; /*MUDA A FONTE*/
    color: white; /*MUDA A COR DO TEXTO*/
    font-size: 30px; /*MUDA O TAMANHO DA FONTE*/
}

.top-bar {
    position: fixed;    /* fixa a barra no topo da tela */
    top: 0;    /* fica no topo */
    left: 0;
    width: 100%;    /* ocupa toda a largura da tela */
    height: 100px;    /* altura da barra */
    background-color: #d9d9d9;    /* cor da barra */
    display: flex;    /* para centralizar o conteúdo */
    align-items: center;    /* centraliza verticalmente */
    z-index: 1000;    /* garante que fique sobre outros elementos */
}

.top-logoIfpi {
    position: absolute;
    left: 20px;    /* distância da esquerda */
    display: flex;
    height: 80px;
}

.top-right {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 180%; /* aumenta o tamanho da fonte */
    color: black;
    position: absolute;
    right: 20px;    /* distância da direita */
    display: flex;
}


/* Estilo dos botões reutilizáveis */
.btn-main {
    font-family: "Titillium Web", sans-serif;
    width: 150px; /* largura fixa */
    font-size: 20px; /* tamanho da fonte */    
    padding: 0px; /* espaçamento interno */
    margin: 10px 0; /* espaçamento externo */
    background-color: #d9d9d9;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 60px;
}

.btn-main:hover {
    background-color: #c3c3c3;
}
    
.logout-warning {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff5555;
    color: #fff;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    z-index: 100000;
    display: none;
    border: 2px solid #c30000;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Estilos da paginação */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    align-items: center;
    display: flex;
}

.btn-pagination {
    padding: 8px 15px;
    background-color: #d9d9d9;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-pagination:hover {
    background-color: #c9c8c8;
    color: #315f5d;
}
