<!DOCTYPE html>
<html>
<head>
    <title>Alterar senha</title>
</head>
<body>
    <h2>Troque sua senha</h2>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Salvar nova senha</button>
    </form>

    {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>
