{% extends 'base.html' %}
{% load static %}
{% block title %}Status das Chaves{% endblock %}

{% block content %}
<div class="status-container">
    <h2>Status das Chaves</h2>
    
    <div class="status-grid">
        {% include 'componentes/status_item.html' with numero="01" status="Disponível" imagem="img/key_branca.png" %}
        {% include 'componentes/status_item.html' with numero="02" status="Em uso" imagem="img/key_preta.png" %}
        {% include 'componentes/status_item.html' with numero="03" status="Disponível" imagem="img/key_branca.png" %}
        {% include 'componentes/status_item.html' with numero="04" status="Em uso" imagem="img/key_preta.png" %}
        {% include 'componentes/status_item.html' with numero="05" status="Em uso" imagem="img/key_preta.png" %}
        {% include 'componentes/status_item.html' with numero="06" status="Em uso" imagem="img/key_preta.png" %}
        {% include 'componentes/status_item.html' with numero="07" status="Disponível" imagem="img/key_branca.png" %}
        {% include 'componentes/status_item.html' with numero="08" status="Em uso" imagem="img/key_preta.png" %}
    </div>

</div>

    <div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-main">Sair</button>
        </form>
        
    </div>

    <form id="logoutForm" action="{% url 'logout' %}" method="post" style="display:none;">
    {% csrf_token %}
</form>

<div id="logout-warning" class="logout-warning" style="display: none;">
    A sessão expira em <span id="contador">5</span> segundos.
</div>

<script>
    let tempoSemAtividade = 0;
    let tempoParaAviso = 5; // 10s sem atividade para começar alerta
    let tempoParaLogout = 10; // 10s após o alerta para deslogar

    let aviso = document.getElementById("logout-warning");
    let numero = document.getElementById("contador");

    aviso.style.display = "none";

    // Reseta o tempo ao detectar atividade
    function resetarInatividade() {
        tempoSemAtividade = 0;
        aviso.style.display = "none";
    }

    // Eventos de atividade
    document.onmousemove = resetarInatividade;
    document.onkeypress = resetarInatividade;
    document.onclick = resetarInatividade;
    document.onscroll = resetarInatividade;

    setInterval(() => {
        tempoSemAtividade++;

        // Se o usuário ficar 10s sem mexer → começa contagem do aviso
        if (tempoSemAtividade >= tempoParaAviso && tempoSemAtividade < tempoParaAviso + tempoParaLogout) {
            aviso.style.display = "block";
            let restante = (tempoParaAviso + tempoParaLogout) - tempoSemAtividade;
            numero.textContent = restante;
        }

        // Se chegar ao final da contagem → desloga automaticamente
        if (tempoSemAtividade >= tempoParaAviso + tempoParaLogout) {
            document.getElementById("logoutForm").submit();
        }

    }, 1000);
</script>

{% endblock %}

