{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Chaves{% endblock %}

{% block content %}

<div class="layout-chaves">

    <!-- COLUNA ESQUERDA: Filtros + Botão Sair -->
    <div class="coluna-esquerda">
        {% include 'componentes/filtro_chaves.html' %}
        
        <!-- BLOCO DO LOGOUT -->
        {% if request.user.is_authenticated %}
        <div class="logout-container">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-main">Sair</button>
            </form>
        </div>
        {% endif %}
    </div>

    <!-- COLUNA DIREITA: Lista de Chaves -->
    <div class="status-container">
        
        {% include 'componentes/lista_chaves.html' %}
    </div>
</div>

<form id="logoutForm" action="{% url 'logout' %}" method="post" style="display:none;">
    {% csrf_token %}
</form>

<div id="logout-warning" class="logout-warning" style="display: none;">
    A sessão expira em <span id="contador">5</span> segundos.
</div>

<div id="usuario-logado"
    data-nome="{{ request.user.pessoa.nome }}"
    data-matricula="{{ request.user.pessoa.matricula }}">
</div>

<!-- ================== POPUP =================== -->
<div id="popup" class="popup">
    <div class="popup-content">
        <span id="popupClose" class="close">&times;</span>

        <h1>Deseja confimar?</h1>
        <p id="popupAcao"></p>
        <p id="popupTitulo"></p>
        <p id="popupUsuario"></p>
        <p id="popupHora"></p>

        <button type="submit" class="btn-confirmar" id="popup-chaves-btn-confirmar">Confirmar</button>
        <button type="submit" class="btn-cancelar">Cancelar</button>
    </div>
</div>

<script src="{% static 'scripts.js' %}"></script> 

{% endblock %}

