
{% comment %} Template genérico de botão reutilizável {% endcomment %}

{% if url %}
  {% if url|slice:":11" == "javascript:" %}
    <a href="{{ url }}">
      <button type="{{ tipo|default:'button' }}" class="btn-main {{ classe|default:'' }}">
        {{ texto|default:'Clique aqui' }}
      </button>
    </a>
  {% else %}
    <a href="{% url url %}">
      <button type="{{ tipo|default:'button' }}" class="btn-main {{ classe|default:'' }}">
        {{ texto|default:'Clique aqui' }}
      </button>
    </a>
  {% endif %}
{% else %}
  <button type="{{ tipo|default:'button' }}" class="btn-main {{ classe|default:'' }}">
    {{ texto|default:'Clique aqui' }}
  </button>
{% endif %}



{% block botao_voltar %}
    {% if ocultar_botao %}
    <div>
        <a href="javascript:history.back()" class="back-btn" title="Voltar">
            &#8592; <!-- ← seta Unicode -->
        </a>
    </div>
    {% endif %}
{% endblock %}