
{% comment %} Template genérico de botão reutilizável {% endcomment %}

{% with tipo_btn=tipo|default:"button" texto_btn=texto|default:"Clique aqui" classe_btn=classe|default:"" destino=url|default:"" %}
  <a href="{% if destino %}{% if 'javascript:' in destino %}{{ destino }}{% else %}{% url destino %}{% endif %}{% else %}javascript:void(0){% endif %}">
    <button type="{{ tipo_btn }}" class="btn-main {{ classe_btn }}">{{ texto_btn }}</button>
  </a>
{% endwith %}


{% block botao_voltar %}
    {% if ocultar_botao %}
    <div>
        <a href="javascript:history.back()" class="back-btn" title="Voltar">
            &#8592; <!-- ← seta Unicode -->
        </a>
    </div>
    {% endif %}
{% endblock %}