<form method="GET" id="filtro-form">

    <div class="barra-filtros">

        <!-- <input 
        type="hidden"
        name="status"
        id="status-hidden"
        value="{{ request.GET.status }}"
        > -->
        
        <input 
            type="text"
            name="busca"
            placeholder="Pesquisar..."
            class="input-pesquisa"
            value="{{ request.GET.busca }}"
            autofocus
        >

        <span class="label-filtros">Filtros:</span>

        <div class="filtros">

            <label class="filtro-checkbox">
                <input 
                    type="checkbox" 
                    name="status"
                    value="true"
                    class="status-filter"
                    {% if request.GET.status == "true" %}checked{% endif %}
                >
                <span>Disponível</span>
            </label>

            <label class="filtro-checkbox">
                <input 
                    type="checkbox" 
                    name="status"
                    value="false"
                    class="status-filter"
                    {% if request.GET.status == "false" %}checked{% endif %}
                >
                <span>Indisponível</span>
            </label>

        </div>

    </div>

</form>
