<form method="GET" id="filtro-form">

    <div class="barra-filtros">

        <input 
            type="text"
            name="busca"
            placeholder="Pesquisar..."
            class="input-pesquisa"
            value="{{ request.GET.busca }}"
        >

        <div class="filtros">
            <label>
                <input 
                    type="radio" 
                    name="status" 
                    value="none"
                    {% if not request.GET.status or request.GET.status == "none" %}checked{% endif %}
                >
                <span>Todos</span>
            </label>

            <label>
                <input 
                    type="radio" 
                    name="status" 
                    value="true"
                    {% if request.GET.status == "true" %}checked{% endif %}
                >
                <span>Disponível</span>
            </label>

            <label>
                <input 
                    type="radio" 
                    name="status" 
                    value="false"
                    {% if request.GET.status == "false" %}checked{% endif %}
                >
                <span>Indisponível</span>
            </label>
        </div>

    </div>

</form>
