<div class="filtro-container">
    <!-- <h3>Pesquisar</h3> -->

    <input type="text" placeholder="Pesquisar..." class="input-pesquisa">

    <ul class="filtro-lista">
        <li>
            <label>
                <input type="radio" name="filtro" value="disponivel">
                <span>Disponível</span>
            </label>
        </li>
    
        <li>
            <label>
                <input type="radio" name="filtro" value="indisponivel">
                <span>Indisponível</span>
            </label>
        </li>
    
        <li>
            <label>
                <input type="radio" name="filtro" value="salas">
                <span>Salas de Aula</span>
            </label>
        </li>
    
        <li>
            <label>
                <input type="radio" name="filtro" value="labs">
                <span>Laboratórios</span>
            </label>
        </li>
    
        <li>
            <label>
                <input type="radio" name="filtro" value="coordenacao">
                <span>Coordenação</span>
            </label>
        </li>
    </ul>
</div>