body {
    background-image: linear-gradient(135deg, 135deg, #3c7673, #00ffd5, #0f0f0f);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Container geral que tem os campos usiarios e senha */
.login-container {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    /* reduzido */
    width: 450px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Espaçamento entre campos */
    form div {
        margin-bottom: 12px;
        /* reduzido de 20 → 12 */

        /* garante centralização */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Labels senha e usuario os nomes, altera a cor da letras*/
    label {
        font-size: 20px;
        font-weight: 800;
        color: #ffffff;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    /* Inputs geral usuário e senha*/
    input[type="text"],
    input[type="password"],
    select {
        width: 260px;
        /* tamanho fixo — igual ao botão */
        padding: 12px;
        border-radius: 8px;
        outline: none;

        border: 2px solid transparent;
        /* impede de mexer ao focar */
        transition: .3s;

        text-align: center;
        font-size: 18px;
        box-sizing: border-box;
        /* impede qualquer pulinho */

    }

    /* Foco nos inputs (usuario e senha) */
    input[type="text"]:focus,
    input[type="password"]:focus {
        background-color: #fff;
        border-color: #0fffe3;
        /* borda neon */
        box-shadow: 0 0 8px #0fffe3;
        /* glow */
    }

    /* Placeholder centralizado */
    input::placeholder {
        text-align: center;
    }

    /* Mensagem de erro */
    .error-msg {
        font-size: 20px;
        background-color: #ffcccc;
        font-weight: bold;
        display: flex;
        justify-content: center;
        color: #532020;
        padding: 6px;
        border-radius: 8px;
        max-width: 250px;
        width: 100%;
        margin: 20px auto 0;
        text-align: center;
    }

    /* Botão */
    .btn-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        /* adiciona leve aproximação */
        width: 260px;
        /* mesmo tamanho dos inputs */
        padding: 12px;

        background-color: #21c4ae;
        color: #ffffff;

        border-radius: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;

        border: none;
        outline: none;
    }

    /* Aparência do botão quando seleciona o botão login*/
    .btn-login:hover {
        background-image: linear-gradient(135deg, #24877a);
    }

    /* Caixa topo */
    .CaixaTopo {
        width: 100%;
        padding: 15px 20px;
        text-align: center;
        border-radius: 10px;
        box-sizing: border-box;
    }

    /* Responsividade */
    @media (max-width: 480px) {
        .login-container {
            width: 90%;
            padding: 20px;
        }

        .CaixaTopo {
            padding: 12px 15px;
            font-size: 14px;
        }
    }

    @media (min-width: 768px) {
        .CaixaTopo {
            font-size: 18px;
            padding: 20px 25px;
        }
    }