* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #315f5d;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container geral */
.container {
    background: #ebe9e9;
    padding: 25px 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
/* Inputs e labels */
form div {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #c9d6e3;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: .3s;
}

/* Botões principais */
.btn-main {
    width: 100%;
    background: #004aad;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

.btn-main:hover {
    background: #00337d;
}

/* Grid para status */
.status-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.status-item {
    background: #9d1212;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.status-item img {
    width: 40px;
    margin-bottom: 10px;
}

/* Disponível (verde) */
.disponivel {
    border-left: 6px solid #28a745;
}

/* Indisponível (vermelho) */
.indisponivel {
    border-left: 6px solid #961818;
}

/* Botão Senha*/
.form-control {
    width: 100%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.CaixaTopo {
    background-color: #c7d4ca;
}

/* Responsividade */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}
