body{
    margin: 0;
    height: 100vh; /* Faz o fundo ocupar 100% da tela */
    display: flex; /* Centraliza o conteúdo vertical e horizontal */
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff; /* Texto branco para melhor contraste */
    text-align: left;
    background: linear-gradient(135deg, #1e3c3a, #4f8a88); /* Novo fundo com degradê */
}

.card {
    border-radius: 12px;
    padding: 25px;
    background-color: #ffffff;
    color: #0a0a0a;
    box-shadow: 0 4px 10px rgba(8, 228, 52, 0.3);
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

/* Posição do container usuario e senha */
.login-form
{
    padding-top: 150px;
    padding-bottom: 150px;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

/* Tamanhp do espaços para preenchimento */
.form-control {
    height: 30px;
    font-size: 1rem;
}

/* Ajuste do espaçamento entre os campos, botões usuario e senha estilo de letra */
.form-group {
    
    text-align: center;
    color: #020202;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center; /* centraliza também verticalmente */
    padding: 5px; /* evita colar nas bordas da tela na visão mobile */
}

/* Botão melhorado - botão login */
.btn-primary {
    width: 100%; /* Botão ocupa toda a largura */
    font-size: 1rem;
    border-radius: 12px;
    color: #011313;
    background-color: #3cbcf8;
    height: 45px;
}
