* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #315f5d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;

}

/* Container geral */
.container {
    background: #ebe9e9;
    padding: 25px 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
/* Inputs e labels */
form div {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    text-align: center;
    justify-content: center;
    align-items: center; /* centraliza também verticalmente */
    padding: 150px; /* evita colar nas bordas da tela na visão mobile */
    font-size: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #c9d6e3;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: .3s;
}

/* Botões principais */
.btn-main {
    width: 100%;
    background: #004aad;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

.btn-main:hover {
    background: #40aae2;
}

.status-item img {
    width: 40px;
    margin-bottom: 10px;
}


/* Indisponível (vermelho) */
.indisponivel {
    font-size: 30;
    border-left: 10px solid #b30000;
    background-color: #ffdddd;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Botão Senha*/
.form-control {
    width: 100%;
    background-color: #d4f7eb;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
    border-color: #57a7f3;
}

.CaixaTopo {
      width: 100%; /* Ocupa toda a largura disponível */
    background-color: #ffffff;
    padding: 15px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza conteúdo dentro */
    border-radius: 10px; /* Visual mais moderno */
    box-sizing: border-box; /* Garante que o padding não estoure a largura */
}

/* Responsividade */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .CaixaTopo {
        padding: 12px 15px;
        font-size: 14px; /* Diminui o texto em telas pequenas */
    }
}

@media (min-width: 768px) {
    .CaixaTopo {
        font-size: 18px;
        padding: 20px 25px;
    }
}
