* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #315f5d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
}

body, input, label, button {
    font-family: 'Roboto', sans-serif;
}


/* Container geral */
.login-container {
    background: #ffffff;
    padding: 25px 30px;
    width: 400px;
    border-radius: 12px;
}
/* Inputs e labels */
form div {
    margin-bottom: 20px;
}

/* Controla O que está escrito : Usuario e senha*/
label {
    font-size: 14px;
    font-weight: 800;
    color: #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    justify-content: center;
    align-items: center; /* centraliza também verticalmente */
    font-size: 16px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #a79d9d;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: .3s;
}

/* COntrola os campos de input: Usuario e Senha*/
input:focus {
    border-color: #3174f9;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(49, 116, 249, 0.3);
}

.status-item img {
    width: 40px;
    margin-bottom: 10px;
}

.error-msg {
    font-size: 20px;
    border-left: 10px;
    background-color: #ffcccc;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333;
    font-size: 20px;
    text-align: center; /* centraliza a mensagem */
    padding: 6px;
    border-radius: 8px;
    max-width: 250px;   /* botão nunca passa de 250px */
    width: 100%;        /* ocupa toda a largura até esse limite */
    margin: 20px auto 0 auto; /* espaço acima (20px) e centralizado */
}

/* Botão Senha*/
.form-control {
    width: 100%;
    background-color: #c7d0d8;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
}

.CaixaTopo {
      width: 100%; /* Ocupa toda a largura disponível */
    background-color: #ffffff;
    padding: 15px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza conteúdo dentro */
    border-radius: 10px; /* Visual mais moderno */
    box-sizing: border-box; /* Garante que o padding não estoure a largura */
}

.btn-login{
    display: flex;
    justify-content: center;   /* centraliza horizontal */
    align-items: center;       /* centraliza vertical */
    max-width: 250px;   /* botão nunca passa de 250px */
    width: 100%;        /* ocupa toda a largura até esse limite */
    margin: 0 auto;     /* centraliza horizontalmente */
    background-color: #3174f9;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    min-width: 180px;   /* nunca menor que 180px */
    padding: 12px;
}

.btn-login:hover {
    background-color: #255ec7;
}

/* Responsividade */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .CaixaTopo {
        padding: 12px 15px;
        font-size: 14px; /* Diminui o texto em telas pequenas */
    }
}

@media (min-width: 768px) {
    .CaixaTopo {
        font-size: 18px;
        padding: 20px 25px;
    }
}
