body {
    background-color: #3c7673;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin-top: 150px; /* Espaço acima do container */
}

/* Container geral que tem os campos usiarios e senha */
.login-container {
    background: #a9dae2;
    padding: 25px 30px;
    width: 400px;
    border-radius: 12px;
}

/* Espaçamento entre campos */
form div { margin-bottom: 20px; }

/* Labels senha e usuario os nomes, altera a cor da letras*/
label {
    font-size: 20px;
    font-weight: 800;
    color: #030303;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Inputs geral usuário*/
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  transition: .3s;
  text-align: center;
  font-size: 18px;
}

/* Foco nos inputs (usuario e senha) */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(49,116,249,0.3);
}

/* Placeholder centralizado */
input::placeholder {
  text-align: center;
}

/* Mensagem de erro */
.error-msg {
    font-size: 20px;
    background-color: #ffcccc;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #532020;
    padding: 6px;
    border-radius: 8px;
    max-width: 250px;
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
}

/* Botão */
.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    min-width: 180px;
    width: 100%;
    margin: 0 auto;
    background-color: #3174f9;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Aparecia quando seleciona o botão login*/
.btn-login:hover { background-color: #255ec7; }

/* Caixa topo */
.CaixaTopo {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Estilo apenas para o campo de senha */
input[type="password"] {
  background-color: #dfdada;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  outline: none; 
  border: none;
  font-size: 18px
}

/* Responsividade */
@media (max-width: 480px) {
    .login-container { width: 90%; padding: 20px; }
    .CaixaTopo { padding: 12px 15px; font-size: 14px; }
}

@media (min-width: 768px) {
    .CaixaTopo { font-size: 18px; padding: 20px 25px; }
}
