{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}?v={{ now|date:'U' }}">
    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>
    <!-- Barra no topo -->
    <div class="top-bar">
        <div class="top-logoIfpi">
            <img src="{% static 'img/logoIfpi.png' %}" alt="Instituto Federal" class="logoIfpi">
        </div>
        <div class="top-right">
            CONTROLE DE CHAVES
        </div>

    </div>

    <main class="conteudo">
        {% block formulario %}{% endblock %}
        {% block botoes %}{% endblock %}        
        {% block content %}
            <div class="placeholder"></div>
        {% endblock %}
    </main>
</body>

</html>