{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title><!-- retira depois*-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" sizes="32x32" href="{% static 'img/FAVICONCTCHAVE.png' %}">
    <link rel="icon" sizes="16x16" href="{% static 'img/FAVICONCTCHAVE.png' %}">

    {% block extra_css %}{% endblock %}
    
    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>
    <!-- Barra no topo -->
    <div class="top-bar">
        <div class="top-logoIfpi">
            <img src="{% static 'img/logoIfpi.png' %}" alt="IFPI" class="logoIfpi">
        </div>

        <div class="top-right">
            CONTROLE DE CHAVES
        </div>

        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn-main btn-sair-topo">Sair</button>
        </form>
        {% endif %}
    </div>
    <main class="conteudo">
        {% block menu_pesquisa %}{% endblock %}
        {% block formulario %}{% endblock %}
        {% block botoes %}{% endblock %}        
        {% block content %}{% endblock %}
    </main>
</body>

</html>