{% extends 'base.html' %}

{% load static %} <!--Carrega uma página CSS externo-->

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <main class="login-form">
    <div class="cotainer">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="email_address" class="col-md-4 col-form-label text-md-right">Usuário</label> <!--Username para o nome do usuário-->
                  <div class="col-md-6">
                    <input type="text" id="email_address" class="form-control" name="username" required autofocus>
                  </div> <!-- Add o valor atributo username-->
                </div>

                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label text-md-right">Senha</label>
                  <div class="col-md-6">
                    <input type="password" id="password" class="form-control" name="password" required>
                  </div> <!-- Add o valor atributo password, ou sejam, a senha-->
                </div>

                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    Login
                  </button>
                </div>
                {% for k, v in form.errors.items %}
                  {{ v }}
                {% endfor %} <!--Mostra os erros de login-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
