
{% comment %} Template genérico de botões reutilizáveis {% endcomment %}

{% if tipo == "home" %}
<div class="grupo-botoes-home">
    <a href="{% url "registrar" %}"><button class="btn-main">PEGAR CHAVE</button></a>
    <button class="btn-main">STATUS</button>
    <button class="btn-main">DEVOLVER CHAVE</button>
</div>

{% elif tipo == "registrar" %}
<div class="grupo-botoes-registrar">
    <button class="btn-main">REGISTRAR</button>
    <button class="btn-main btn-voltar">VOLTAR</button>
</div>

{% elif tipo == "devolver" %}
<div class="grupo-botoes-devolver">
    <button class="btn-main">DEVOLVER</button>
    <button class="btn-main btn-voltar">VOLTAR</button>
</div>
{% endif %}


{% block botao_voltar %}
    {% if ocultar_botao %}
    <div>
        <a href="javascript:history.back()" class="back-btn" title="Voltar">
            &#8592; <!-- ← seta Unicode -->
        </a>
    </div>
    {% endif %}
{% endblock %}